[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pyaudio = "*"
tensorflow = {version = "*", sys_platform = "== 'darwin'"}
tensorflow-gpu = {version = "*", sys_platform = "!= 'darwin'"}
resampy = "*"
kafka = "*"
configparser = "*"

[requires]
python_version = "3.6"
